body {
    background-color: rgba(243, 220, 245, 0.735);
}


h1 {
    background-color: lime;
    color: darkblue;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

h2 {
    background-color: blueviolet;
    color: aqua;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 22px;
}